<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.CMPUT3012019T02.alexandria">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ChatRoomActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.ViewUserProfileActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.ISBNLookup"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.EditMyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewMyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewMyBook.AddNewBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewMyBook.EditBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service android:name=".service.NotificationService"
                 android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/baseline_local_library_24" />
    </application>

</manifest>